script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
script(src="/lib/bootstrap.min.js")
script(src="/lib/brands.min.js")
script(src="/lib/solid.min.js")
script(src="/lib/fontawesome.min.js")
script(src="/bundle.min.js")